<html>
	<head>
        <title>Desktop Portal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body>
<h1 style="text-align: center"> DESKTOP AUDIT </h1>
<form action="/Desktop/register" method="POST">
	<table border=1 width="50%" height="600px" align="center" bgcolor="DodgerBlue">
	 <tr>
	  <td>
 	   <label for="Make">Make:</label>
	  </td>
	  <td>
  	   <select name="Make" id="Make">
         <option value="Dell">Dell</option>
         <option value="Lenovo">Lenovo</option>
         <option value="Assembled">Assembled</option>
         <option value="HP">HP</option>
         </select>
	   <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Hostname">Hostname: </label>
	  </td>
	  <td>
	   <input type="text" id="Hostname" name="Hostname"> <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="model">Model:</label>
	  </td>
	  <td>
	   <input type="text" id="model" name="model"> <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="TagID">Tag ID:</label>
	  </td>
	  <td>
	   <input type="text" id="TagID" name="TagID"> <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="SerialNumber">Serial Number:</label>
	  </td>
	  <td>
	   <input type="text" id="SerialNumber" name="SerialNumber"> <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Processor">Processor:</label><br>
	  </td>
	  <td>
	   <input type="radio" name="Processor" id="Processor" value="Core i3">Core i3<br>
	   <input type="radio" name="Processor" id="Processor" value="Core i5">Core i5<br>
	   <input type="radio" name="Processor" id="Processor" value="Core i7">Core i7<br>
	   <input type="radio" name="Processor" id="Processor" value="Core i9">Core i9<br>
	   <input type="radio" name="Processor" id="Processor" value="Dual Core">Dual Core<br>
	   <input type="radio" name="Processor" id="Processor" value="AMD Ryzen">AMD Ryzen<br>
	   <input type="radio" name="Processor" id="Processor" value="Other">Other<br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Generation">Generation:</label>
	  </td>
	  <td>
	   <input type="text" id="Generation"> <br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="os">Operating System:</label><br>
	  </td>
	  <td>
	   <input type="radio" name="os" value="Windows">Windows<br>
	   <input type="radio" name="os" value="Ubuntu">Ubuntu<br>
	   <input type="radio" name="os" value="MacOS">MacOS<br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="RAM">RAM:</label><br>
	  </td>
	  <td>
	   <input type="radio" id="RAM" name="RAM" value="2GB">2GB<br>
	   <input type="radio" id="RAM" name="RAM" value="4GB">4GB<br>
	   <input type="radio" id="RAM" name="RAM" value="8GB">8GB<br>
	   <input type="radio" id="RAM" name="RAM" value="16GB">16GB<br>
	   <input type="radio" id="RAM" name="RAM" value="32GB">32GB<br>
	   <input type="radio" id="RAM" name="RAM" value="64GB">64GB<br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Storage">Storage:</label><br>
	  </td>
	  <td>
	   <input type="radio" id="Storage" name="Storage" value="500 GB HDD">500 GB HDD<br>
	   <input type="radio" id="Storage" name="Storage" value="1 TB HDD">1 TB HDD<br>
	   <input type="radio" id="Storage" name="Storage" value="256 GB SSD">256 GB SSD<br>
	   <input type="radio" id="Storage" name="Storage" value="512 GB SSD">512 GB SSD<br>
	   <input type="radio" id="Storage" name="Storage" value="1 TB SSD">1 TB SSD<br>
	   <input type="radio" id="Storage" name="Storage" value="Other">Other<br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Graphics">Graphics:</label><br>
	  </td>
	  <td>
	   <input type="radio" id="Graphics" name="Graphics" value="4GB">4GB<br>
	   <input type="radio" id="Graphics" name="Graphics" value="2GB">2GB<br>
	   <input type="radio" id="Graphics" name="Graphics" value="NA">NA<br>
	   <input type="radio" id="Graphics" name="Graphics" value="NA">NA<br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="User">User:</label>
	  </td>
	  <td>
	   <input type="text" id="User" name="User"> <br><br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Status">Status:</label><br>
	  </td>
	  <td>
	   <input type="radio" id="Status" name="Status" value="Working">Working<br>
	   <input type="radio" id="Status" name="Status" value="Not Working">Not Working<br><br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <label for="Remarks">Remarks:</label>
	  </td>
	  <td>
	   <input type="text" id="Remarks" name="Remarks"> <br><br>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <input type="submit" value="Submit" onclick="msg()">
	  </td>
	 </tr>
	<table>
</form>
<h1> <%= status %> </h1>
<script>
function msg(){
alert("Your response is submitted");
}
</script>
</body>
</html>
