<html>
<style>
.button {
  border: none;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 520px;
  cursor: pointer;
  background-color: #FFFF00;
  width: 15%;
  text-decoration: underline;
}
</style>
<body>

<h3 style= "text-align:center"> INVENTORY AUDIT SHEET </h3>
<div class= "text-center">
<a href="desktop.ejs">
<button class="button button1">DESKTOP </button>
</a>
<a href="Laptop.html">
<button class="button button2">LAPTOP</button>
</a>
<a href="Tab.html">
<button class="button button2">TAB/IPAD/MOBILE</button>
</a>
<a href="Mouse.html">
<button class="button button2">MOUSE</button>
</a>
<a href="Keyboard.html">
<button class="button button2">KEYBOARD</button>
</a>
<a href="Monitor.html">
<button class="button button2">MONITOR</button>
</a>
<a href="Printer.html">
<button class="button button2">PRINTER</button>
</a>
</div>

</body>
</html>
